.operand{
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	/* background-color: #ccc; */
}

.right{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 30%;
	align-items: center;
}

.container{
	width: 340px;
	display: flex;
	flex-wrap: wrap;
	background-color: #ccc;
	justify-content: center;
}

.top{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}